name: Build and push image to OCIR

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env:
    REGISTRY: ${{ secrets.OCI_REGION_KEY }}.ocir.io
    IMAGE_NAME: ${{ secrets.OCI_TENANCY_NAMESPACE }}/test-cenam

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Generate tag
              id: tag
              run: echo "tag=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

            - name: Login to OCIR
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: "${{ secrets.OCI_TENANCY_NAMESPACE }}/${{ secrets.OCI_IDENTITY_DOMAIN }}/${{ secrets.OCI_USERNAME }}"
                  password: ${{ secrets.OCI_AUTH_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.tag.outputs.tag }}
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
